<app-loading-block-view [visible]="isLoadingSuppliers"></app-loading-block-view>

<mat-grid-list class="supplier-grid" cols="1" rowHeight="2:1">
    <mat-grid-tile @suppliersTrigger *ngIf="!isLoadingSuppliers">
        <div class="table-container">
            <mat-toolbar>
                <span class="material-icons">
                    groups
                </span>
                &nbsp;&nbsp;
                <span>Fornecedores</span>
            </mat-toolbar>
            <table mat-table [dataSource]="suppliers">
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef><b>Cod.</b></th>
                    <td mat-cell *matCellDef="let supplier">{{supplier.id}}</td>
                </ng-container>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef><b>Nome</b></th>
                    <td mat-cell *matCellDef="let supplier">{{supplier.name}}</td>
                </ng-container>

                <ng-container matColumnDef="cnpj">
                    <th mat-header-cell *matHeaderCellDef><b>CNPJ</b></th>
                    <td mat-cell *matCellDef="let supplier">{{supplier.cnpj}}</td>
                </ng-container>
                <ng-container matColumnDef="stateSub">
                    <th mat-header-cell *matHeaderCellDef><b>IE</b></th>
                    <td mat-cell *matCellDef="let supplier">{{supplier.stateSub}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                <tr mat-row *matRowDef="let rowData; columns: columnsToDisplay"></tr>
            </table>
            <div class="btn-container">
                <button mat-raised-button @suppliersTrigger *ngIf="!isLoadingSuppliers" (click)="forward()">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>
    </mat-grid-tile>
</mat-grid-list>