table {
  width: 100%;
}

.table-container {
  width: 100%;
  position: absolute;
  top: 8%;
}

.supplier-grid {
  width: 90vw;
}

.btn-container {
  margin-top: 0.5%;
  width: 100%;
  text-align: right;
}
