.item-form-card-1 {
  display: block;
  border-radius: 15px;
  max-width: 30vw;
  box-shadow: 10px 10px 35px -5px  #000;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
