.item-grid {
  vertical-align: center;
  width: 90vw;
  padding-bottom: 0;
}

.item-card-form1 {
  width: 90%;
  height: 90%;
}

.item-card-form1 .mat-form-field {
  width: 100%;
}

.item-card-form2 {
  width: 90%;
  height: 90%;
}

.item-card-form2 .mat-form-field {
  width: 100%;
}

.image-card-form {
  width: 90%;
  height: 40%;
}
