.item-grid {
  vertical-align: center;
  width: 90vw;
  padding-bottom: 0;
}

.item-card-form1 {
  width: 90%;
  height: 90%;
}

.item-card-form1 .mat-form-field {
  width: 100%;
}

.item-card-form2 {
  width: 90%;
  height: 90%;
}

.item-card-form2 .mat-form-field {
  width: 100%;
}

.image-card-form {
  width: 90%;
  height: 40%;
}

.item-card-form2 button {
  width: 100%;
}

.images-list-box {
  width: 100%;
  height: 30vh;
  border-radius: 5px;
  border: 1px solid #d4d4d4;
  overflow-y: auto;
}

.photos-container {
  display: flex;
}