.app-background {
  width: 100%;
  height: 100vh;
  background-color: #e8eaf6;
}

.app-content {
  overflow: hidden;
  position: absolute;

  top: 1vh;
  left: 7vw;

  width: 91.5vw;
  height: 97.5vh;
}
