<mat-grid-list class="supplier-grid" cols="2" rowHeight="1:1">
  <form [formGroup]="supplierForm" >
    <mat-grid-tile>
      <mat-card @cardTrigger class="supplier-card-form1">
        <div @cardContentTrigger *ngIf="isContentVisible">
          <mat-card-header>
            <div mat-card-avatar>
              <span class="material-icons">
                group
              </span>
            </div>
            <mat-card-title>Fornecedor</mat-card-title>
            <mat-card-subtitle>Registrar um novo fornecedor</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <div>
              <mat-form-field appearance="outline">
                <mat-label>Razão Social</mat-label>
                <input matInput autocomplete="false" formControlName="name">
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="outline">
                <mat-label>CNPJ</mat-label>
                <input matInput autocomplete="false" formControlName="cnpj" mask="CPF_CNPJ">
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="outline">
                <mat-label>Inscrição Estadual</mat-label>
                <input matInput autocomplete="false" formControlName="ie" maxlength="14">
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="outline">
                <mat-label>Telefone 1</mat-label>
                <input matInput autocomplete="false" formControlName="fone1" mask="(00) 90000-0000">
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="outline">
                <mat-label>Telefone 2</mat-label>
                <input matInput autocomplete="false" formControlName="fone2" mask="(00) 90000-0000">
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="outline">
                <mat-label>E-mail</mat-label>
                <input matInput autocomplete="false" formControlName="email">
              </mat-form-field>
            </div>
          </mat-card-content>
        </div>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card @cardTrigger class="supplier-card-form1">
        <div @cardContentTrigger *ngIf="isContentVisible">
          <mat-card-header>
            <div mat-card-avatar>
              <span class="material-icons">
                home
              </span>
            </div>
            <mat-card-title>Endereço</mat-card-title>
            <mat-card-subtitle>Registrar um endereço</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <div>

              <mat-form-field appearance="outline">
                <mat-label>CEP</mat-label>
                <input [(ngModel)]="addressQuery" matInput autocomplete="false" [ngModelOptions]="{standalone: true}">
                <mat-spinner *ngIf="isFetchingAddress" [diameter]="25" matSuffix></mat-spinner>
                <button *ngIf="!isFetchingAddress" matSuffix mat-icon-button (click)="fetchLocation()">
                  <mat-icon>search</mat-icon>
                </button>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="outline">
                <mat-label>Estado</mat-label>
                <mat-select (selectionChange)="fetchCities()" formControlName="uf">
                  <mat-option *ngFor="let uf of allUfs" [value]="uf.id" >
                    {{uf.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="outline">
                <mat-label>Município</mat-label>
                <mat-select formControlName="city">
                  <mat-option *ngFor="let city of allCities" [value]="city.id">
                    {{city.name}}
                  </mat-option>
                </mat-select>
                <mat-spinner *ngIf="isFetchingCities" [diameter]="25" matSuffix></mat-spinner>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="outline">
                <mat-label>Bairro</mat-label>
                <input matInput autocomplete="false" formControlName="district">
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="outline">
                <mat-label>Endereço</mat-label>
                <input matInput autocomplete="false" formControlName="location">
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="outline">
                <mat-label>Complemento</mat-label>
                <input matInput autocomplete="false">
              </mat-form-field>
            </div>
            <div>
              <button mat-stroked-button (click)="send()">Salvar</button>
            </div>
          </mat-card-content>
        </div>
      </mat-card>
    </mat-grid-tile>
  </form>
</mat-grid-list>