nav {
  position: absolute;
  text-align: center;
  width: 6vw;

  top: 0;
  left: 0;

  background-color: #fff;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0 0 50% 0;
}

ul li {
  text-align: center;
  padding: 15% 0 10% 0;
}

ul li span {
  transform: scale(1.1);
}

li:hover {
  color: #304ffe;
  background: #eeeded;
  border-right: 4px solid #304ffe;

  cursor: pointer;
  transition: background 200ms;
}

li  {
  color: #dedede;
}

#logo {
  color: #dedede;

  width: 6vw;
  height: 10vh;
  margin-top: 40%;
  margin-bottom: 30%;
}

#logo span {
  transform: scale(2.2);
}

.selected-item {
  color: #304ffe;
  background: #fff;
  border-right: 4px solid #304ffe;
}
